%ul#discount_products.products.discounteds
  - @shop_discount.discountables.for('ShopProduct').each do |product|
    = render :partial => 'admin/shop/discounts/edit/shared/product', :locals => { :product => product }