- @page_title = @shop_discount.name

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/discounts/edit/head'

  - main.popups do
    = render 'admin/shop/discounts/edit/popups'

  - main.form do
    = render 'admin/shop/discounts/edit/form'